*{
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.panda-btn{ 
    border-radius: 6px;
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
padding: 14px 20px;
border: none;
color: white;
font-weight: 500;
}



/* style header */


nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.search-parent{
    position: relative;
    color: rgb(186, 186, 186);
}
.search-parent input{
    background-color: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    border: none;
}
.search-parent i{
    position: absolute;
    top: 17px;
    right: 20px;

}
.nav-itemes{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-itemes li a{
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-weight: 600;
    font-size: 16px;

}
/* styles banner */

.banner{
    background: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin-top: 63px;
}
.banner h2{
    color: rgb(31, 31, 31);
font-size: 52px;
font-weight: bold;
}
.banner p{
    color: rgb(78, 78, 78);
}
.banner-price{
    color: rgb(255, 19, 111);
    font-weight: bold;
    font-size: 52px;
    display: block;
}
.banner img{
    width: 402px;
    height: 378px;
}